<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.japhone.demo.mapper.CouponMapper">
    <resultMap id="BaseResultMap" type="com.japhone.demo.model.entity.Coupon">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="price" property="price" />
        <result column="reduction" property="reduction" />
    </resultMap>
    <sql id="Base_Column_List">
    id, code, type, price, reduction
    </sql>

    <select id="getByCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from coupon
        where code=#{code}
    </select>
</mapper>